.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{    
    padding: 0px 30px;
    font-weight: 600;
    font-size: 80px;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right:  0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-left h1{
    font-size: 80px;
    font-weight: 800;
    background: linear-gradient(280deg,rgba(156, 4, 4, 0.767) 5.89%,  rgba(3, 3, 161, 0.726) 120.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    font-size: 24px;
    color: white;
    line-height: 40px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 22px;
    gap: 30px;
}
.contact-details .contact-detail a{
    display: flex;
    font-size: 24px;
    gap: 10px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    border-radius: 14px;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    background: rgb(56, 56, 56);
    color: rgb(228, 228, 228);
    font-family: outfit;
    font-size: 24px;
}
.contact-right textarea{
    border: none;
    background: rgb(56, 56, 56);
    color: rgb(228, 228, 228);
    padding: 25px;
    width: 650px;
    border-radius: 10px;
    font-family: outfit;
    font-size: 24px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(257deg,rgba(156, 4, 4, 0.767) 5%,  rgba(3, 3, 161, 0.726) 110%);
    font-size: 30px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-submit:hover{
    transform: scale(1.2);
    transition: 0.9s;
}
/* Define common styles for alerts */
.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  /* Define styles for success alert */
  .alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
  }
  
  /* Define styles for error alert */
  .alert-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
  }
  
@media (max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }.contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left{
        font-size: 24px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-details{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}